# Exercícios

## 1) Considerando o código abaixo, faça:
    -> Crie um df a partir de data cujo index seja labels. Faça os imports necessários
    -> Preencha os valores faltantes com a média dos valores
    -> Retorne uma lista única dos animais
    -> Compute as estatísticas básicas (contagem, soma, média, desvio padrão e variância)

In [33]:
import numpy as np
import pandas as pd

data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [77]:
# resposta 1
df = DataFrame(data=data, index=labels)
print ('a)\n\n', df)
df.fillna(df.mean(), inplace=True)
print ('\n\nb)\n\n', df)
uniques = df['animal'].unique()
print ('\n\nc)\n\n', uniques)

print ('\n\nd)\n\n')
print('Contagem:\n\n', df.animal.count())
print('\n\nSoma:\n\n', df.sum(numeric_only=True))
print('\n\nMedia:\n\n', df.mean())
print('\n\nDesvio Padrao:\n\n', df.std())
print('\n\nVariancia:\n\n', df.var())

a)

   animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no


b)

   animal     age  visits priority
a    cat  2.5000       1      yes
b    cat  3.0000       3      yes
c  snake  0.5000       2       no
d    dog  3.4375       3      yes
e    dog  5.0000       2       no
f    cat  2.0000       3       no
g  snake  4.5000       1       no
h    cat  3.4375       1      yes
i    dog  7.0000       2       no
j    dog  3.0000       1       no


c)

 ['cat' 'snake' 'dog']


d)


Contagem:

 10


Soma:

 age       34.375
visits    19.000
dtype: float64


Media:

 age       3.4375
visits    1.9000
dtype: float64


Desvio Padrao:

 age       1.770711
visits    0.875595
dtype: float64


Variancia:

 age       3.135417
visits    0.766667
dtype: float64

## 2) Considerando o mesmo código, faça:
    -> Crie uma função que multiplique o número de visitas por 2. Retorne o data frame completo com valores atualizados
    -> Crie uma função que insere uma coluna que contenha um ranking dos animais mais visitados. Retorne o dataframe ordenado de forma descendente
    -> Verifique se os animais da seguinte lista pertencem aos dados originais: New_animals = [‘cow’,’horse’,shark’]

In [59]:
# resposta 2
def multiplica_por_2(df):
    df.visits = df.visits.apply(lambda x: x*2)
    return df
print('a)\n\n', multiplica_por_2(df))

def rank_animais_mais_visitados(df):
    df['rank'] = df['visits'].rank()
    df = df.sort_values(by='rank', ascending=False)
    return df
print('\n\nb)\n\n', rank_animais_mais_visitados(df))

New_animals = ['cow','horse','shark']
print('\n\nc)\n\n', df.animal.isin(new_animals))

a)

   animal     age  visits priority
a    cat  2.5000       2      yes
b    cat  3.0000       6      yes
c  snake  0.5000       4       no
d    dog  3.4375       6      yes
e    dog  5.0000       4       no
f    cat  2.0000       6       no
g  snake  4.5000       2       no
h    cat  3.4375       2      yes
i    dog  7.0000       4       no
j    dog  3.0000       2       no


b)

   animal     age  visits priority  rank
b    cat  3.0000       6      yes   9.0
d    dog  3.4375       6      yes   9.0
f    cat  2.0000       6       no   9.0
c  snake  0.5000       4       no   6.0
e    dog  5.0000       4       no   6.0
i    dog  7.0000       4       no   6.0
a    cat  2.5000       2      yes   2.5
g  snake  4.5000       2       no   2.5
h    cat  3.4375       2      yes   2.5
j    dog  3.0000       2       no   2.5


c)

 a    False
b    False
c    False
d    False
e    False
f    False
g    False
h    False
i    False
j    False
Name: animal, dtype: bool

## 3) Crie uma função que filtre as linhas do df no código abaixo de acordo com a palavra-chave passada como parâmetro (apenas estado):

In [61]:
df = pd.DataFrame({'DateofBirth':['1986-11-11','1999-05-12','1976-01-01',
                                  '1986-06-01','1983-06-04','1990-03-07',
                                  '1999-07-09'],
                   'State':['NY','TX','FL','AL','AK','TX','TX']},
                 index=['Jane','Nick','Aaron','Penelope','Dean',
                        'Christina','Cornelia'])
print(df)

          DateofBirth State
Jane       1986-11-11    NY
Nick       1999-05-12    TX
Aaron      1976-01-01    FL
Penelope   1986-06-01    AL
Dean       1983-06-04    AK
Christina  1990-03-07    TX
Cornelia   1999-07-09    TX

In [65]:
# resposta 3
def filtrar_por_estado(df, estado):
    return df[df.State==estado]

filtrar_por_estado(df, 'NY')

     DateofBirth State
Jane  1986-11-11    NY